/*Variables*/
:root {
    /*fonts*/
    --openSans: 'Open Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;

    /*colors*/
    --primary-color: #08A6E4;
    --primary-shadow: 5px 10px 14px #07ACE629;
    --blueish-color: #07ACE6;
    --red-color: #FB3B64;
    --redish-color: #EB476E;
    --green-color: #55DFB4;
    --navyBlue-color: #13253B;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --grey-color: #A5A5A5;

    /*font-weight*/
    --light: 300;
    --regular: 400;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--openSans);
}
a {
    text-decoration: none;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
.header {
    width: 100vw;
    box-shadow: 0px 3px 6px #00000029;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}
.logo {
    font-family: var(--raleway);
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: var(--light);
}
.nav__list {
    display: flex;
    align-items: center;
    height: 70px;
}
.nav__element {
    padding: 0 26px;
    border-color: transparent;
}
.nav__element:last-child {
    padding-right: 0;
}
.nav__element a:hover {
    color: var(--black-color);
    border-bottom: 4px solid var(--primary-color);
}
.nav__link {
    color: var(--grey-color);
    font-size: 0.688rem;
    font-weight: var(--bold);
    text-transform: uppercase;
    padding: 28px 18px 22px;
    letter-spacing: 0.1875rem;
}
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero__container {
    margin-top: 130px;
    text-align: center;
}
.hero__title {
    font-family: var(--raleway);
    font-size: 3.063rem;
    font-weight: var(--regular);
}
.hero__description {
    margin-top: 20px;
    margin-bottom: 38px;
}
.hero__img {
    width: 100vw;
    height: auto;
}
.btn {
    display: inline-block;
    color: var(--white-color);
    font-weight: var(--bold);
    padding: 16px 65px;
}
.btn--primary {
    background-color: var(--primary-color);
    box-shadow: var(--primary-shadow);
}
.btn--large {
    padding: 22px 155px;
    border-radius: 40px;
}